@font-face {
  font-family: 'Cairo-Regular';
  src: url('/Content/Fonts/cairo-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/Content/Fonts/cairo-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/Content/Fonts/cairo-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Content/Fonts/cairo-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/Content/Fonts/cairo-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/Content/Fonts/cairo-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    background-color: #fff;
    color: #000;
    font-family:Cairo-Regular;
    padding:5px;
}

h1{
    padding-left:5px;
}
header > h1{
    margin-top:0;
    background-color:yellow;
}

article > h1 {
    background-color:darkseagreen;
}
code {
    color: seagreen;
    white-space: pre;
}

canvas {
    border: 1px solid black;
}
